<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trip Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #ededed;">
<div style="background-color: #337ab7; height: 50px;"></div>
<div class="container-fluid" style="margin-top: 30px;">

    <div class="row col-lg-4 col-lg-offset-4" style="margin-top: 20px; background-color: #fff; padding: 20px; border: solid 1px #ddd;">
    <h1>Trip Registration</h1>
    <form action="#" th:action="@{/trip}" method="post" th:object="${trip}">
        <div>
            <label>Trip Reason</label>
            <select th:field="*{tripReason}">
                <option th:each="p : ${tripReason}" th:value="${p}" th:text="${p}" />
            </select>
        </div>
        <div class="form-group">
            <div class="">
                <label>Trip Description</label>
                <textarea rows="3" cols="25" th:field="*{tripDescription}" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <label>From Place</label>
                <textarea rows="3" cols="25" th:field="*{fromPlace}" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <label>To Place</label>
                <textarea rows="3" cols="25" th:field="*{toPlace}" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="">
            <label>Departure date:</label>
            <input type="date" required="true" th:field="*{departureDate}" />
        </div>
        </div>

        <div class="form-group">
            <div class="">
            <label>Arrival date:</label>
            <input type="date" required="true" th:field="*{arrivalDate}" />
        </div>
        </div>

        <div class="form-group">
            <div class="">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
        </div>
        <span th:utext="${successMessage}"></span>
        <div class="alert alert-success alert-dismissible col-sm-12"
             th:if="${(bindingResult != null && bindingResult.getAllErrors() != null)}">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">×</button>
            <ul th:each="data : ${bindingResult.getAllErrors()}">
                <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
            </ul>
        </div>
    </form>
</div>
</div>
</body>
</html>